/* You can add global styles to this file, and also import other style files */
$primary: #9C27B0FF;
$warn: #FFD700FF;
$secondary: #6c757d;

$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;


$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "warn": $warn,

  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);


$custom-colors: (
  "indigo": #6610F2FF,
  "purple": #6F42C1FF,
  "pink": #D63384FF,
  "yellow": #FFC107FF,
  "teal": #20C997FF,
  "cyan": #0DCAF0FF,
  "black": #000000FF,
  "white": #FFFFFFFF,
  "gray": #6C757DFF,
  "gray-dark": #343A40FF
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
